include COPYING
include README
include CHANGELOG
include data/bookletimposer.ui
include data/bookletimposer.svg
include data/bookletimposer.desktop
include doc/bookletimposer.1.t2t
recursive-include po *
recursive-include help *
