body
{
font-family:sans-serif;
margin:0 50px;
background:white;
}

a
{
color:#7D0030;
}

a:visited
{
color:#50011F; 
}

a:hover, a:active
{
color:#D00050;
}

p
{
clear:left;
}

h1
{
clear:left;
border-bottom:5px dotted #828282;
color:#7D0030; 
}

h2
{
clear:left;
color:#7D0030; 
border-bottom:1px dotted #828282;
}

h1 a, h1 a:visited, h1 a:hover, h1 a:active,
h2 a, h2 a:visited, h2 a:hover, h2 a:active
{
text-decoration:none;
}

dt
{
color:#7D0030; 
}

table, tbody, th, tr, td
{
border:0;
}

div.figure
{
text-align:center;
font-style:italic;
float:left;
margin:0 50px 50px 50px;
}

div#TOC
{
float:right;
background:white;
padding:20px;
}

div#TOC ul
{
list-style-type:none;
}

div#TOC>ul
{
padding-left:0;
margin:0;
}

div#TOC ul ul ul
{
display:none
}
